.idea/
.vscode/
node_modules
dist/
.yarn/
.yarnrc.yml
.pnp.js
program
tmp/
vendor/
*.lock
target/
Cargo.lock
.env
config.json
.DS_Store
/.svelte
/.svelte-kit
/build
/functions
pnpm-lock.yaml
package-lock.json
*.log
*.elf
commit.sh
